.reg{
    margin: 20px;
    padding: 30px;
    box-shadow:
        0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.gap{
margin: 5px;
}
.gender{
   display: inline;
  }
.gender h5{
    display: inline;
    margin-right: 50px;
    font-size: 15px;
    font-style: normal;
 }
.mgender{
   
    padding-left: 10px;
}
.fgender{
   
    margin-left: 50px;
}